/* 
    Created on : Nov 27, 2022, 9:51:01 AM
    Author     : islam
*/
.GameGrid
{
    -fx-background-color:#FFE40C;
    -fx-text-fill: transparent;
}

.StartMenuButtons:hover{
    
    -fx-border-width: 5px;
    -fx-border-color: #8a2be2;
    
}
